@import "tailwindcss/base";
@import "tailwindcss/components";
@import "react-toastify/dist/ReactToastify.css";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/range-slider.css";
@import "additional-styles/toggle-switch.css";
@import "additional-styles/theme.css";

@import "tailwindcss/utilities";

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
  .rtl {
    direction: rtl;
  }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
  display: none;
}

.header-with-lines {
  display: flex;
  align-items: center;
  text-align: center;
}

.header-with-lines::before,
.header-with-lines::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #ccc; /* Adjust the color as needed */
  margin: 0 1rem; /* Adjust spacing around the text */
}
